canvas {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: block
}

.swipe-icon-wrapper {
	width: 8em;
	height: 8em;
	margin-top: 2em;
	position: relative
}

.swipe-icon {
	width: 4em;
	height: 4em;
	fill: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: mobile-instructions 7s ease-in-out infinite
}

@keyframes mobile-instructions {
	0% {
		top: 50%;
		left: 50%;
		opacity: 0
	}
	5% {
		top: 50%;
		left: 50%;
		opacity: 1
	}
	15% {
		top: 0;
		left: 50%;
		opacity: 1
	}
	20% {
		top: 0;
		left: 50%;
		opacity: 0
	}
	25% {
		top: 50%;
		left: 50%;
		opacity: 0
	}
	30% {
		top: 50%;
		left: 50%;
		opacity: 1
	}
	40% {
		top: 0;
		left: 50%;
		opacity: 1
	}
	45% {
		top: 0;
		left: 50%;
		opacity: 0
	}
	50% {
		top: 50%;
		left: 50%;
		opacity: 0
	}
	55% {
		top: 50%;
		left: 50%;
		opacity: 1
	}
	65% {
		top: 50%;
		left: 0
	}
	85% {
		top: 50%;
		left: 100%
	}
	95% {
		top: 50%;
		left: 50%;
		opacity: 1
	}
	100% {
		top: 50%;
		left: 50%;
		opacity: 0
	}
}

.screen.hidden {
	opacity: 0;
	overflow: auto;
	visibility: hidden;
	pointer-events: none
}

.title {
	font-family: Bungee, cursive
}

.diagram {
	font-family: 'Source Code Pro', monospace
}

.scramble {
	font-family: Bungee, cursive
}

.dismiss-info {
	margin: .75em 0 1em 0;
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-style: italic
}

.ui {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	text-align: left;
	padding: .5em;
	background: rgba(0, 0, 0, .5);
	transition: all .2s ease
}

.diagram {
	cursor: pointer;
	font-size: .8em
}

.start-vr {
	font-size: 1.5em;
	position: absolute;
	bottom: .5em;
	right: 0;
	font-family: inherit;
	color: #fff;
	background: #333;
	border: none;
	border-radius: .5em 0 0 .5em;
	padding: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .2s ease
}

.start-vr:hover {
	background: #454545
}

.vr-icon {
	display: block;
	width: 2em;
	fill: currentColor
}

.start-vr.hidden {
	display: none
}

.screen:not(.hidden)~.ui,
.ui.hidden {
	opacity: 0
}

.ui.hidden:hover {
	opacity: 1
}

.streaming-links {
  font-size: 22px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
  width: 255px;
  border: solid 2px #fff;
  color: #fbffe2;
  background-color: #000;
  border-radius: 0;
  display: block;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.streaming-links a:hover {
	color: #cfcfcf;
}
a {
	color: #fbffe2;
	text-decoration: none;
	background-color: transparent;
}

.gradient {
	background-color: rgba(0, 0, 0, 0);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: linear-gradient(140deg, rgb(255, 135, 43) 20%, rgb(26, 157, 146) 70%);
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

.welcome {
	border: solid 2px #fff;
	height: 100%;
	margin: 0 auto;
	max-width: 1400px;
	min-height: 850px;
	max-height: 850px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.footer-nav, .footer-store-name {
	background-color: #000 !important;
}

footer .footer-section.footer-social ul li a svg {
	fill: #000;
}

footer .footer-section.footer-social ul li a:hover svg {
	fill: #303030;
}

.bank-note {
	opacity: 0.4;
}